 :root {
  --accent-color: #2196f3;
  --main-text-color: #757575;
  --main-header-color: #212121;
  --main-background-color: #e5e5e5;
  --sec-background-color: #F5F4FA;
  --white-text-color:#FFFFFF;
}
.link-decoration {
  text-decoration: none;
}
.list-decoration {
  list-style: none;
}
.section-title{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-header-color);
}
.visuallny-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
  background: #FFFFFF;
  
}
/* ------ header ------> */
.header-logo,
.footer-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.header-logo-fp
{
  color: var(--accent-color);
}
.header-logo-sp
{
  color: #000000;
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-header-color);
}
.header-contacts-list-item-link{
  color: var(--main-text-color);
}
.link-decoration:hover,
.link-decoration:focus {
  color: var(--accent-color);
} 
.curent-page {
  color: var(--accent-color);}
/* ------ section banner ------> */
.section-banner{
 background: #2F303A;;
}
.section-banner-title{
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}
.section-banner-button{
  /* font-family: 'Roboto';
  font-style: normal; */
  font-family : inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background: var(--accent-color);
  cursor: pointer;
}
/* ------ section descriptions------> */

.section-des-list-item-caption{
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-header-color);
}
.section-des-list-item-text{
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* ------ section our_work------> */

/* ------ section our_team------> */
.section-team{
  background: var(--sec-background-color);
}
.section-team-list-item-caption{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color:var(--main-header-color)
}
.section-team-list-item-text{
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  
}
/* ------ footer------> */
.footer{
  background: #2F303A;
}
.footer-logo-fp {
  color: var(--accent-color);
}
.footer-logo-sp {
  color: var(--white-text-color);
}
.footer-address-list-item-link{
 
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-text-color)
}
.color-decoration{
  color: rgba(255, 255, 255, 0.6);
}
/* ------------------ PORTFOLIO-----------------------> */
/* ------ portfolio menu------> */
.portfolio-menu-list-item-btn{
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-header-color);
  background: #F5F4FA;
  cursor: pointer;
  border: none;
}
.portfolio-menu-list-item-btn:hover,.portfolio-menu-list-item-btn:focus {
  color: var(--white-text-color);
  background: var(--accent-color);
}
/* ------ portfolio projects------> */
.portfolio-projects-list-item-title{
  font-weight: 700;
  font-size: 18px;
  line-height:2;
  letter-spacing: 0.06em;
  color: var(--main-header-color);
}
.portfolio-projects-list-item-text{
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}